<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="progressPostPublish === 'pending'" >
    <form [formGroup]="formPublish" (ngSubmit)="publish()"  >

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar publicação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="setPublishProgressPending()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <input
          type="file"
          class="form-control"
          accept="image/*"
          (change)="prepareImageUpload($event)"
        />

        <input
          type="text"
          placeholder="Titulo"
          class="form-control"
          formControlName="titulo"
        />

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Publicar</button>
      </div>

    </form>
    </div>


    <div class="modal-content" *ngIf="progressPostPublish === 'going'" >

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Publicando</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="setPublishProgressPending()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          Progresso: {{uploadPercentage}}%
        </div>
      </div>

      <div class="modal-content" *ngIf="progressPostPublish === 'completed'" >

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Publicado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="setPublishProgressPending()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            Publicado com Sucesso!
          </div>
        </div>
  </div>
</div>
