<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post" data-toggle="modal" data-target="#exampleModal"></div>

      <a href="#" (click)="quit()">
        <span data-text="Q">Q</span>
        <span data-text="U">U</span>
        <span data-text="I">I</span>
        <span data-text="T">T</span>
      </a>
    </div>

  </div>
</nav>

<br /><br /><br />
<div class="container">
  <app-publicacoes #publicacoes></app-publicacoes>
  <app-incluir-publicacao (updateTimeLine)="updateTimeLine()"></app-incluir-publicacao>
</div>
